#role-form-outer-div {
  /* background: blue; */
  width: 80%;
  padding: 50px;
  padding-left: 0;
  margin: auto;
  text-align: center;
}
#role-form-outer-div select {
  height: 43px !important;
  width: 81% !important;
}
#role-form-outer-div .role-form-input {
  /* display: block; */
  width: 80%;
  margin: 15px;
  height: 30px;
  border-radius: 10px;
  border-width: 0;
  background-color: rgb(238, 238, 238);
  padding: 5px;
}
#role-form-inner-div {
  width: 80%;
  margin: auto;
}
.role-form-cancel-button {
  float: right !important;
  background-color: rgb(238, 238, 238) !important;
  margin-right: 3% !important;
  border: 1px !important;
}

#role-form-outer-div .role-form-input-button {
  display: block;
  float: left;
  /* width: 70%; */
  /* margin: 30px auto; */
  background-color: #0069d9;
  border: 0px;
  /* height: 30px; */
  border-radius: 10px;
  margin: 10px;
  /* margin-left: 125px; */
  margin-top: 20px;
  padding: 10px;
}
#role-form-outer-div .role-form-input:focus,
#role-form-outer-div .role-form-input-button:focus {
  outline: 0;
}
#role-form-title {
  margin: 20p;
}
